@charset "UTF-8";

/*colors
light blue: #add8e6 (173, 216, 230)
coral: #ff7f50 (255, 127, 80)
dark coral: #974e33 (151, 78, 51)
cream: #fffbd6 (255, 251, 214)
*/

h1 {
    color: #974e33;
}

h2 {
    color: #974e33
}
body {
    background-color: rgb(173, 216, 230);
    text-align: center;
    font-family:serif;
    margin: 0;  
}

/* NAVIGATION BAR */

.main_nav {
    display: flex;
    align-items: center;
    list-style: none; /*removes bullets form list*/ 
    background-color: rgb(255, 251, 214);
    padding: 1em;
    text-decoration: none;
    margin: 0px;
}

.main_nav a{
    color: rgb(0, 0, 0);
    padding: 60px 40px;
    text-decoration: none;
}

/* style the hover for our nav links*/
.main_nav a:hover {
    background-color: rgb(255, 127, 80);
    color: rgba(0, 0, 0, 0.5);
}

li.logo {
    margin-right: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.hero_image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.4)),url(project_images/art-supplies-1324034_1280.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero_header {
    text-align: left;
    position: absolute;
    color: #ff7f50;
    top: 40%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    font-size: 3em;
    margin: 20px;
}

.hero_text {
    text-align: left;
    position: absolute;
    color: white;
    top: 60%;
    text-shadow: .05em .05em .1em black;
    font-size: large;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 400px 200px 400px 200px;
    grid-template-areas:
        'problem    problem     stress      stress'
        'solution    solution   art         art'
        'event      event       event       event'
}

#problem {
    grid-area: problem;
    object-fit: cover;
    text-align: center;
    padding: 0.5in;
}

#stress {
    grid-area: stress;
    object-fit: cover;
    text-align: center;
    padding: 0.5in;
}

#solution {
    grid-area: solution;
    object-fit: cover;
    text-align: center;
    margin: 1.5in;
}

#art {
    grid-area: art;
    object-fit: cover;
    text-align: center;
    margin: 1.5in;
}

#event {
    grid-area: event;
    object-fit: cover;
    text-align: center;
    margin: 1.5in;
}

.about_info {
    display: grid;
    text-wrap: wrap;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto;
    grid-template-areas:
    'backstory      about       promise';
}

@media screen and (max-width: 1000px){
    .about_info {
        display: grid;
        text-wrap: wrap;
        grid-template-rows: 1fr;
        grid-template-columns: auto;
        grid-template-areas:
        'backstory'      
        'about'
        'promise';
    }
}




#backstory{
    grid-area: backstory;
    object-fit: cover;
    text-align: center;
    margin: 40px;
   padding: 25px;
}
#bs_info{
    grid-area: bs_info;
    object-fit: cover;
    text-align: center; 
}
#about{
    grid-area: about;
    object-fit: cover;
    text-align: center; 
    margin: 40px;
    padding: 25px;
}
#ab_info{
    grid-area: bs_info;
    object-fit: cover;
    text-align: center; 
}
#promise{
    grid-area: promise;
    object-fit: cover;
    text-align: center;
    margin: 40px;
    padding: 25px;
}
#pr_info{
    grid-area: bs_info;
    object-fit: cover;
    text-align: center; 
}








.table {
    background-color:rgb(83, 102, 128);
    margin-left: auto;
    margin-right: auto;
}


th, td, tr {
    background-color:#ffffff;
    width: 1.75in;
}

#signup {
    margin-left: auto;
    margin-right: auto;
}




/*-----------------------------GRID - INDEX--------------------------*/

.index_grid {
    display: grid;
    text-wrap: wrap;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: 
    'product1   product1   product4   product4'   
    'product2   product2   product5   product5'   
    'product3   product3   product6   product6'
}

.img {
    border: 5px solid rgb(83, 102, 128);
}


#product1{
    grid-area: product1;
    object-fit: cover;
    text-align: center;
}

#product2{
    grid-area: product2;
    object-fit: cover;
    text-align: center;
}

#product3{
    grid-area: product3;
    object-fit: cover;
    text-align: center;
}

#product4{
    grid-area: product4;
    object-fit: cover;
    text-align: center;
}

#product5{
    grid-area: product5;
    object-fit: cover;
    text-align: center;
}

#product6{
    grid-area: product6;
    object-fit: cover;
    text-align: center;
}


.copyright_2025 {
    display: flex;
    justify-content: center;
    background-color: #fffbd6;
    color:rgb(0, 0, 0);
    padding: .3em;
    text-decoration: none;
    margin: 0px;
}

#time {
    justify-content: center;
}

.button {
    background-color: rgb(255, 251, 214);
    font-size: small;
    color: rgb(0, 0, 0);
    padding: 1em;
    margin: 20px;
}

.button:hover {
    background-color: rgb(255, 127, 80);
    color: rgba(0, 0, 0, 0.5);
}


.li {
    display: block;
    float: center;
    margin:75px;
}

@media screen and (max-width: 800px){
    .index_grid {
        display: grid;
        text-wrap: wrap;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto auto;
        grid-template-areas: 
        'product1   product1'   
        'product2   product2'   
        'product3   product3'
        'product4   product4'
        'product5   product5'
        'product6   product6'
    }
}

@media screen and (max-width: 800px){
    #container {
        display: grid;
        text-wrap: wrap;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 205px;
        grid-template-areas:
            'problem    problem'
            'stress     stress'
            'solution   solution'
            'art        art'
            'event      event'
    }
}